<%- include('./partials/html-head') %> <%- include('./partials/nav') %>
<section id="homepage">
  <h1 id="home-title">Yugioh Deck Builder</h1>
  <h3 id='home-description'>
    You can use this tool to plan out and strategize how you would you would like to play the trading card game of Yugioh. 
    To create a Yugioh card deck: you can create a deck by giving it a name and start searching for real Yugioh cards and adding them to your deck!
    
  </h3>
  <% if(user) {%>
  <div id="createButton">
    <a href="/decks/new"
      ><button type="button" class="btn btn-primary btn-lg">
        Create a Deck
      </button></a
    >
  </div>
  <% } %>
</section>
<%- include('./partials/footer') %>
