<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<section id="homepage" class="">

    <h1>Yugioh deck builder.</h1>
    <a href="/decks/new"><button type="button" class="btn btn-warning">Create a Deck</button></a>
   
    <div id="hometitlecard" class="card" style="width: 40rem;">
        <div class="card-body">
        </div>
    </div>

</section>
<%- include('./partials/footer') %>
