<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<div id="homepage">

    <div id="hometitlecard" class="card" style="width: 18rem;">
        <div class="card-body">
          <h1>Yugioh deck builder.</h1>
          <a href="/decks/new"><button type="button" class="btn btn-warning">Create a Deck</button></a>
        </div>
    </div>
      

</div>
<%- include('./partials/footer') %>
