<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

    <form action="/messages" method="POST">
    <input type="text" name="title"> post title
    <input type="text" name="content"> post comment
    <button>Submit</button>
    </form>
    
    <%- include('../partials/footer') %>