<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    show page

    
    <a href="/cards/<%= results.data[0].name %> " class="btn btn-primary">Add card. this is gonna be show view of card</a> <% //card.id is a reference to card from our forEach not a reference to card in database %> 
    <a href="/decks/<%= results.data[0].name %> " class="btn btn-primary">Add card and go back to deck show page</a> <% //card.id is a reference to card from our forEach not a reference to card in database %> 

</body>
</html>