<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

Decks new.ejs
<form action="/decks" method="POST">
    <input type="text" name="name"> Deck name:
    Add cards
    <button>Submit</button>
</form>


<%- include('../partials/footer') %>