<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>

    <% deck.cards.forEach(card => { %>
      <h2 value="<%=card._id%>"><%= card.name%></h2>
   <% }) %> 
        <a 
                class="btn btn-warning"
                role="button" 
                href="/decks/<%= deck._id %>/edit"
              >
                Edit Deck name
              </a>
        Deck Show page
      </body>
      </html>